# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules

# Next.js build output
/.next/
/out/

# Production builds
/build

# VS Code settings
.vscode/

# System files
.DS_Store
*.swp

# Testing
/cc.py
/ccvs.txt
/ccvf.txt